/* bbs.css */

/* container */
/* 홈페이지,회원가입 상단링크 */
#container{padding-bottom:25px;}
p.homeL{line-height:50px;}
p.homeL a{text-decoration:none;font-weight:bold;color:#333;}
p.homeL img{margin-bottom:6px;}
p.homeL img.homeL_btn{padding:5px;background:#fff;margin-top:3px;border:1px solid #ccc;}

/* 공지사항 table */
h2{font-size:30px;font-weight:bold;text-align:center;padding:40px 0;}
h2 span{font-size:15px;color:#00907f;}

dl{padding:0 95px;position:relative;}
dl dt{width:503px; height:46px;background:#f5f6f8;color:#666;border:1px solid #d7d7d7;text-align:center;line-height:46px;font-weight:bold;}
dl dt a{display:block;}
dl dt a:hover{text-decoration:none;width:503px; height:46px;background:#2e3844;color:#fff;}
dl dt.news{}
dl dt.service_ch{position:absolute;right:96px;top:-641px;}

dl dd.dd_table table{width:100%;margin-top:30px;}
dl dd.dd_table table tr{border-bottom:1px solid silver;line-height:50px;}
dl dd.dd_table table tr td.left{width:80%;padding-left:50px;font-weight:bold;}
dl dd.dd_table table tr th{padding:0px 20px 0px 20px;width:808px;text-align:center;border-top:2px solid black;font-weight:bold;}
dl dd.dd_table table tr td.center{text-align:center;}


/* 하단페이지 */
div.srch_inner{width:100%;text-align:center;}
p.pageNumber{padding:40px 0;}
p.pageNumber a{font-size:20px;paddign:10px 10px 10px 12px;margin-right:20px;}
p.pageNumber img{border:1px solid silver;}
p.pageNumber img:hover{border:1px solid #000;}
p.pageNumver img a{}
div.srch_inner form select{width:140px;height:43px;padding-bottom:12px;padding-top:8px;}
div.srch_inner form input{width:450px;height:39px;}
div.srch_inner form input.srch{width:19px; height:23px;background:#666;padding:10px 20.5px;}