/* main.css */

/* conainer */
/* content1 */
.reCard{float:left;width:502px; height:271px; background:#fff;padding:14px 49px 0;}
.reCard h2{font-size:14px; font-weight:bold;padding:10px 0 20px 1px;}
.reCard .cardList{text-align:center; font-weight:bold; font-size:0px;}
.reCard .cardList li{position:relative; display: inline-block; width:33.3%;}
.reCard .cardList li span{display:block;padding:15px 0 20px;}
.reCard ul li a{float:left; width:147px; font-size:12px;}
.reCard ul li a:hover{text-decoration:none;}
.crCard{float:right;width:502px;height:225px;background:#eaebef;}

.inquiry{ width: 100%; font-size : 0px;}
.inquiry li{height:38px; border:1px solid silver; display:inline-block; box-sizing: border-box; width:25%;font-weight:bold;}
.inquiry li a{font-size:12px}
.inquiry li#card1{width:103px;margin-right:5px;line-height:38px;padding-left:12px;}
.inquiry li#card2{width:107px;margin-right:5px;line-height:38px;padding-left:12px;}
.inquiry li#card3{width:80px;margin-right:5px;line-height:38px;padding-left:12px;}
.inquiry li#card4{width:175px;line-height:38px;padding-left:12px;}

/* 카드대출 */
.crCard{padding:60px 49px 0;}
.crCard p.graytxt{color:#777;text-align:center;font-size:15px;padding-bottom:20px;font-weight:bold;}
.crCard p.strongtxt{color:#000;font-size:23px;text-align:center;font-weight:bold;}
.crCard ul{padding-top:30px;font-size:0;}
.crCard ul li{width:162px; height:38px;background-color:#fff;display:inline-block;margin-right:5px;text-align:center;}
.crCard ul li a{font-size:13px;font-weight:bold;line-height:38px;}

/* content2 */
/* 왼쪽이미지 */

.content2 .imgLeft{float:left;width:300px;}

/* 가운데_상단_이미지 */
.imgCenter{float:left; width:600px; position: relative; height:564px;}

.imgCenterT{height: 375px;}
.imgCenterT .enent_check{position:absolute;
	left:70px;top:50px;z-index:10;
}
.imgCenterT .enent_check li{
	width:80px;
	line-height:20px;display:inline-block;text-align:center;
}
.imgCenterT .enent_check li.full_green{width:80px;height:20px;border:1px solid #1ea091;font-weight:bold;background-color:#1ea091;color:#fff;}
.imgCenterT .enent_check li.full_green a:hover{width:80px;height:20px;background-color:#007668;}

.imgCenterT .enent_check li.full_green img{padding-bottom:2px; padding-left:3px;}
.imgCenterT .enent_check li.full_green a{display:block;color:#fff;text-decoration:none;}


.imgCenterT .enent_check li.bo_gray{border:1px solid #e8e8e8;}
.imgCenterT .enent_check li.bo_gray a{display:block;text-decoration:none;width:80px;height:20px;border:1px solid #fff;}
.imgCenterT .enent_check li.bo_gray a:hover{border:1px solid #333;width:80px;height:20px;}
.imgCenterT .enent_check .member_event{position:absolute;margin-right:30px;width:600px;height:375px;}
.imgCenterT .enent_check .member_event:after{
	display:block;
	content:"";
	clear:both;
}
.imgCenterT dt{
	position: relative;
	z-index: 30;
	float:left;
	margin: 55px 0px 0;
	margin-right: 10px;
}
.imgCenterT dt a{display:block;width:10px;height:10px;}
.imgCenterT dt.dt_first{margin-left:450px;}

/*.imgCenterT dt.on a{display:block;width:10px;height:10px;}*/
.imgCenterT p{position:absolute;right:165px;top:56px;width:8px;height:8px;}
.imgCenterT p a{display:block;width:8px;height:8px;}
.imgCenterT p a img{}
.imgCenterT dd{position:absolute;width:600px;height:375px;cursor:pointer;}

/* 가운데_하단_이미지 */
.imgCenterB{position: absolute; width:520px; height: 108px; bottom: 0px; background:#8cc7e7; padding:40px;}
.imgCenterB p.img_plus{position:absolute;left:61px;top:51px;width:76px;height:24px;background:#4c647f;text-align:center;line-height:24px;color:#fff;font-weight:bold;}
.imgCenterB p.img_plus img{padding-left:3px; margin:0 auto;padding-bottom:3px;}
.imgCenterB p.img_plus a{color:#fff;text-decoration:none;}
.imgCenterB h2{font-size:20px;font-weight:bold;float:left;padding:40px 0 0 20px;margin-top:15px;}
.imgCenterB .img_pig{float:left;margin-left:10px; margin-bottom:5px;}
.imgCenterB ul{float:right;width:300px;display:inline-block;margin-top:5px;}
.imgCenterB ul li{text-align:center;font-size:15px;font-weight:bold;line-height:270px;}


.imgCenterB ul li a{text-decoration:none;}
.imgCenterB ul li.short_box{line-height:44px;}
.imgCenterB ul li.short_box a{display:block;width:130px;height:39px;background:#fff;float:left;margin-bottom:10px;}
.imgCenterB ul li.short_box a:hover{background-color:#f4f4f4;}
.imgCenterB ul li.long_box{line-height:44px;}
.imgCenterB ul li.long_box a{display:block;width:160px;height:39px;background:#fff;float:right;margin-bottom:10px;}
.imgCenterB ul li.long_box a:hover{width:160px;background-color:#f4f4f4;}

/* 우측이미지_나만의 혜택 */
.benefit{position:relative;float:right;width:198px;height:462px;background:#d75e7f;padding:51px;}
.benefit h2{color:#fff;font-weight:bold;font-size:23px;text-align:center;margin-bottom:39px;}
.benefit .spEv{text-align:center;position:relative;width:100%;height:100%;}
.benefit .spEv dt{ position: relative; top: 286px; display:inline-block; width:10px;}
.benefit .spEv dt img{float:left;text-align:center;} 
.benefit .spEv dd{ position:absolute; top: 0px; left: 15px; }
.benefit p.spEv_login{position:absolute;font-weight:bold;color:#fff;text-align:center;width:200px; top:430px;font-size:15px;}
.benefit p.spEv_look{width:170px;height:38px;background-color:#fff;position:absolute;top:480px;
					 margin-left:15px;text-align:center;font-size:15px;font-weight:bold;}
.benefit p.spEv_look a{display:block;line-height:38px;text-decoration:none;}


/* content3 */
/* 라이프 스타일 */

.content3 h2{position:absolute;left:50px; top:75px;font-size:18px;font-weight:bold;z-index:1;}
.content3 dl{margin:0px; padding: 0px;}

.content3 dl dt{position:absolute;z-index:1;}

/*
.content3 h2{position:absolute;left:50px; top:75px;font-size:18px;font-weight:bold;z-index:1;}
.content3 dl{position:relative;margin:0px; padding: 0px;height:330px;}

.content3 dl dt{position:absolute;z-index:2;width:100px;height:100px;background:#d4d4d4;border-radius:50%;transition:all 0.3s linear 0s;}
.content3 dl dt.on, .content3 dl dt:hover{background:#cc3b63;}
.content3 dl dt.on a, .content3 dl dt:hover a{color:#fff;}

.content3 dl dt a{display:block;text-align:center;height:100px;line-height:100px;font-weight:bold;
			   	  font-size:20px;text-decoration:none;}
*/
.content3 dl dt.life1{right:490px; top:70px;}
.content3 dl dt.life2{right:340px; top:70px;}
.content3 dl dt.life3{right:190px; top:70px;}
.content3 dl dt.life4{right:40px; top:70px;}
.content3 dl dt img{display:block;width:100px; height:100px;}
.content3 dl dt a{display:block;width:100px;height:100px;}
.content3 dl dd{position:absolute;left:0;top:0;}

.content3 dl dd{width:100%;height:330px;}
.content3 dl dd:nth-of-type(1){background:url(../images/mc_service_bg01.png) no-repeat 0 0;}
.content3 dl dd:nth-of-type(2){background:url(../images/mc_service_bg02.png) no-repeat 0 0;display:none;}
.content3 dl dd:nth-of-type(3){background:url(../images/mc_service_bg03.png) no-repeat 0 0;display:none;}
.content3 dl dd:nth-of-type(4){background:url(../images/mc_service_bg04.png) no-repeat 0 0;display:none;}

.content3 dl dd span{position:absolute;left:50px; top:120px;font-size:40px; font-weight:bold;letter-spacing:0.7em;}

.content3 ul{background:#fff;width:1200px;height:48px;position:absolute;top:230px;}
.content3 ul li{width:200px;line-height:38px;float:left;text-align:center;font-weight:bold;}
.content3 ul li a{padding:5px;display:block;text-decoration:none;}
.content3 ul li a:hover{color:#209d8f;}


